.form-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5rem;
}

.cbox {
  color: blue;
}
.checkBoxContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
}

label {
  text-align: left;
  margin-left: 2rem;
  margin-right: auto;
  margin-bottom: 0.2rem;
}
input {
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  width: 100%;
  max-width: 22rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
  padding: 0.4rem;
  padding-left: 2rem;
  font-size: 1rem;
}
::placeholder {
  color: #8d8d8da4;
}

input:hover,
input:focus {
  box-shadow: 1px 1px 2px #ccc;
}

.error {
  color: red;
  font-size: 14px;
  margin-left: 2rem;
}
.req {
  color: red;
}
.dot {
  color: #1d4867be;
}

.fieldError {
  border-color: red;
}
@media (max-width: 768px) {
  .form-control {
    padding: 0;
  }
  input {
    height: 2rem;
    width: 100%;
    max-width: 100%;
    border-radius: 2rem;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
    font-size: 0.5rem;
  }
  label {
    text-align: left;
    margin-left: 0rem;
    margin-right: auto;
  }
  .error {
    font-size: 14px;
    margin-left: 0rem;
  }
}

@media (max-width: 480px) {
  .form-control {
    padding: 0;
  }
  input {
    height: 2rem;
    width: 100%;
    max-width: 100%;
    border-radius: 2rem;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
    font-size: 0.5rem;
  }
  label {
    text-align: left;
    margin-left: 0rem;
    margin-right: auto;
  }
  .error {
    font-size: 14px;
    margin-left: 0rem;
  }
}
@media (max-width: 320px) {
  .form-control {
    padding: 0;
  }
  input {
    height: 1.5rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }
  label {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
  }
  .error {
    font-size: 14px;
    margin-left: 0;
  }
}
